@{
    ViewBag.Title = "Hem";
}

    <div class="jumbotron">
        <h1>
            DatingHappy
        </h1>
        <p class="lead">Här kan du hitta din nästa stora kärlek, registrera dig redan idag!</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Möt några av våra singlar...</h2>
            <p>
                
            </p>
            
        </div>
        <div class="col-md-4">
            <h2>Hej</h2>
            <p>Bild</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Lär känna denna person &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hej</h2>
            <p>Bild</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Lär känna denna person &raquo;</a></p>
        </div>
    </div>
